secrets:
  redis_password:
    file: ./secrets/redis_password.txt
  postgres_password:
    file: ./secrets/postgres_password.txt

services:
  app:
    build: ./app
    restart: always
    depends_on:
      - db
      - redis
    networks:
      - app-network
    volumes:
      - ./static/uploads:/app/uploads
    secrets:
      - postgres_password
      - redis_password

  nginx:
    image: nginx:1.25-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./static/uploads:/static/uploads:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/static:ro
    depends_on:
      - app
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    restart: always
    command: >
      sh -c "redis-server
      --requirepass \"$$(cat /run/secrets/redis_password)\"
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru"
    secrets:
        - redis_password
    volumes:
      - redis_data:/data
    networks:
      - app-network

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: mydb
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    secrets:
      - postgres_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  redis_data:
  postgres_data:

networks:
  app-network:
    driver: bridge
